
          <h2 id="sub-title">Profile</h2>

            <hr id="sub-title-line">

                <p>Manuel Borg</p>

                <p id="prole">Student</p>

                <img src="../Images/student.jpg" alt="Profile Picture" id="profile-pic1">

            <h2 id="sub-title">About Me</h2>

                <div class="about-me">
                    Date of Birth
                    <input type="dob" id="info-dob" value="8-08-1992">
                </div>

                <hr id="line">

            <h2 id="sub-title">Contact</h2>
                
                <div class="about-me">
                    E-mail
                    <input type="email" id="info" value="manuel.borg@school.com">
                </div>
